upstream backend {
  server unix:///var/run/puma/my_app.sock;
}

server {
  listen 80;
  server_name phalanx.com.br;

  root /home/app/phalanx/;

  access_log /var/log/nginx/phalanx-acc.log;
  error_log /var/log/nginx/phalanx.log error;

  location / {
      client_max_body_size 150m;
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header Host $http_host;
      proxy_redirect off;
      proxy_intercept_errors on;
      proxy_pass http://localhost:3001;
  }

  location /admin/ {
    proxy_pass localhost:3001/;
  }

  location ~ ^/assets/(.*)$ {
    alias /home/app/public/assets/$1;
    allow all;
  }
