<p>Bem-vindo <%= @email %>!</p>

<p>Você pode confirmar o email de sua conta pelo link abaixo.</p>

<p><%= link_to 'Confirmar minha conta', confirmation_url(@resource, confirmation_token: @token) %></p>
