<p>Olá <%= @resource.email %>!</p>

<p>Alguém fez o pedido para enviar um link de alteração de senha para o seu usuário. Você pode fazer isso pelo link abaixo.</p>

<p><%= link_to 'Alterar a minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se você não pediu isso, por favor ignore este email.</p>
<p>Sua senha não será alterada até que você acesse o link acima e crie uma nova senha.</p>
